@using Microsoft.Ajax.Utilities
@model IEnumerable<ASPNETTest.ViewModels.ReservationViewModel>

@{
    ViewBag.Title = "MyReservations";
}

<h2>My Reservations</h2>

    <table class="table" id="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
        </tr>

        @for (int i = 0; i < Model.Count(); i++)
        {
            @Html.HiddenFor(m=> m.ElementAt(i).Room.Id)
            <tr>
                <td>
                    @Html.DisplayFor(m => m.ElementAt(i).Room.Name) (Number: @Model.ElementAt(i).Room.RoomNumber)
                </td>
                <td>
                    <div id ="descs"+i>
                    @Html.TextBoxFor(m => m.ElementAt(i).Description, new { id = "desc" + i,onfocusout="myfunc("+Model.ElementAt(i).ReservationId+",'"+Model.ElementAt(i).Description+"')"})
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(m => m.ElementAt(i).StartTime)
                </td>
                <td>
                    @Html.DisplayFor(m => m.ElementAt(i).EndTime)
                </td>
            </tr>
        }

    </table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Update" class="btn btn-default" />
    </div>
</div>

<script>
    function myfunc(var1, var2) {
        console.log(var1 + "   " + var2);
        $.ajax({
                method: "POST",
                url: "some.php",
                data: { id: var1, description: var2 }
            })
            .done(function( msg ) {
                alert( "Data Saved: " + msg );
            });
    }
//    var i = 0;
//    $('#table tr').each(function () {
//
//        $("#descs" + i++).on("focusout",
//            function () {
//                //logic
//                console.log(this);
//                
//            }
//
//        );
//        
//    });

</script>
